@media (max-width:600px)
  .centralBlock
    width 100%
    //padding indentValue
    //margin @padding
    background-color #f7f7f7
    display flex
    flex-direction column
    align-items center
    .heading
      text-align center
    .menuFlex
      display flex
      flex-direction row
      flex-wrap wrap
      width 100%

    .content
      width 100%
      display flex
      flex-direction column
      margin auto
      padding padding
  .rowFlex
    flex-direction column
    align-items center
    margin auto
  .columnFlex
    p
      text-align center
  .columnFlex
    .textBlock
      p
        text-align justify

  .rowFlex
    .columnFlex
      p
        padding padding

@import textBlockMedia
@import videoBlockMedia
@import rowOfImagesMedia
@import tableBlockMedia





